@page "/edit/{id:int}"
@model BaiThucHanhRazorPage.Pages.UpdateProductPageModel
@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
}

<h1>Chỉnh sửa sản phẩm</h1>

<hr />

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Product.Name">Tên</label>
        <input asp-for="Product.Name" class="form-control" required/>
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description">Mô tả</label>
        <textarea asp-for="Product.Description" class="form-control" required></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Product.Price">Giá</label>
        <input asp-for="Product.Price" class="form-control" type="number" required/>
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Images">Hình ảnh (có thể chọn nhiều)</label>
        <input asp-for="@Model.Images" class="form-control" type="file" multiple/>
    </div>
    <br />
    <button class="btn btn-success" type="submit">Sửa</button>
</form>

<br />

<a asp-page="ProductPage" class="btn btn-outline-primary" >Danh sách sản phẩm</a>
